/* COLOR PALETTE
#DE6E4B - BURNT SIENNA
#0B3954 - PRUSSIAN BLUE
#263D42 - OUTER SPACE
#70A0AF - PEWTER BLUE
#FFFFEA - IVORY

*/


/* Global styles 
------------------------------------------*/
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    color: #263d42;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

img {
    width: 450px;
    height: 150px;
}

.photography {
    height: 600px;
    width: 450px;
}

.cycles {
    width: 450px;
    height: 200px;
}

a {
    color: #FFFFEA;
    text-decoration: none;
}

/* Profile
------------------------------------------*/
header {
    background: #DE6E4B;
}

/* Projects
------------------------------------------*/
.projects {
    background-color: #FFFFEA;

}

.projects .btn{
    color: #FFFFEA;
    background-color: #0B3954;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
    margin-top: 5px;

}
.projects .btn:hover{
    background: rgb(11,57,84, 70%);
}

.project-item{
    overflow: hidden;
    border-bottom: 1px dashed #263D42;
    padding: 25px 0;
}
.project-item img {
    float: left;
    margin-right: 20px;
}

.project-item h3{
    margin-top: 0;
}

/* Work Experience
------------------------------------------*/
.work-experience {
    background-color: #70A0AF;
}


/* Education
------------------------------------------*/

/* Contact Info
------------------------------------------*/
footer {
    background-color: #de6E4B;
    color: #263d42;
    
}

h2{
    font-size: 50px;
}

h1 {
    font-size: 120px;
    line-height: 1;
    font-style: italic;
    
}

h1, h2 {
    font-family: 'Lobster Two', cursive;
    font-weight: 400;
    margin: 0px;
}

.content-wrap{
    width: 800px;
    margin: 0 auto;
    padding: 60px 0;
}