/* COLOR PALETTE
#DE6E4B - BURNT SIENNA
#0B3954 - PRUSSIAN BLUE
#263D42 - OUTER SPACE
#70A0AF - PEWTER BLUE
#FFFFEA - IVORY

*/


/* Global styles 
------------------------------------------*/
body {
    color: #263d42;
}

img {
    width: 300px;
}

a {
    color: #FFFFEA;
    text-decoration: none;
}

/* Profile
------------------------------------------*/
header {
    background: #DE6E4B;
}

/* Projects
------------------------------------------*/
.projects {
    background-color: #FFFFEA;

}

.projects .btn{
    color: #FFFFEA;
    background-color: #0B3954;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;

}
.projects .btn:hover{
    background: rgb(11,57,84, 70%);
}

/* Work Experience
------------------------------------------*/
.work-experience {
    background-color: #70A0AF;
}

/* Education
------------------------------------------*/

/* Contact Info
------------------------------------------*/
footer {
    background-color: #de6E4B;
    color: #263d42;
    
}